<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Belanosima:wght@700&family=Inter:wght@700&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    
    <title>Dictionary</title>
  </head>

  <body style="background-color:#21211e;color:#f9faf7;font-family:monospace;">
    <div class="d-flex justify-content header">
      <p id="dict-words-spread"></p>
    </div>

    <div class="d-flex justify-content subtext">
      <p id="error-field"></p>
    </div>
    
    <script src="js/dict.js"></script>
  </body>
</html>