<html>
  <head>
    <%- include('../includes/header.ejs') -%>
    <link rel="stylesheet" href="css/index.css">
    <title>Tano | Home</title>    
    <link rel="icon" href="images/don.png">
  </head>
  <body>
    <%- include('../includes/head.ejs') -%>
    <section></section>
    <script src="js/dashboard.scripts.js"></script>
  </body>
</html>