<%- include("../includes/head.ejs") -%>
<!DOCTYPE html>
<html lang="en">
    <head>
      <link 
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
          crossorigin="anonymous">        
      <title>Tano | Home</title>    
      <link rel="icon" href="images/don.png">
    </head>
    <body>
      <section style="margin-bottom: 0;">
        <div class="d-flex justify-content-center head">
            <h1 style="font-weight: 900;">
              <span style="color:#5663f7;"><%= bot.user.username %></span> </span>
              </h1>
        </div>
        <div class="d-flex justify-content-center subtext">
            <p style="font-style: italic;font-size: 30px;">Make Your Server A Fun & Safe Place To Chat!</p>
        </div>
      </section>
      
      <!-- FOOTER-->
      <section>
        <div class="card-footer" style="margin-top:15%;text-align: center;color: #5663f7;">
          <hr style="width: 75%;background-color: #FFFFFF!important;color: #FFFFFF!important;border: 5px solid #FFFFFF!important;border-radius:25px;margin-left: 12%;">

          <h5 style="text-align: center;">
            <a href="/tano/devs?d=false&list=yes" target="_blank" style="font-size: 20px; color: #5663f7!important;text-decoration: none;">Last updated by <code>Ray <3#1821</code></a>
          </h5>
        </div>
      </section>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
      <script src="public/js/scripts.js" ></script>
    </body>
</html>
