<!DOCTYPE html>
<html>
  <title>404</title>
</html>
<body>
  <div class="main-div">
    <p class="large-heading">404</p>
    <p class="pha">Oops! Looks like this page does not exist, <a href="/">go back to home page</a>     <svg class="popup" onclick="popupinfo()" xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-badge-alert"><path d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"></path><line x1="12" x2="12" y1="8" y2="12"></line><line x1="12" x2="12.01" y1="16" y2="16"></line></svg></p>
    <br>
    <br>
    <br>
    <a href="/"> <img src="https://media.discordapp.net/attachments/1038853430069964991/1109168629460783344/IMG_7035.png" width="1000"> </a>
  </div>
  <style>
 class~=large-heading]{font-size:40px;}[class~=large-heading]{color:black;}body{background-color:gray;}[class~=large-heading]{font-family:sans-serif,sandybrown;}[class~=main-div]{text-align:center;}[class~=pha]{color:lighten;}[class~=pha]{font-size:.3125in;}[class~=pha]{font-family:monospace;}a{color:lightblue;}a{font-family:sans-serif;}svg{color:orangered;}
  </style>
</body>