<head>
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  <link rel="stylesheet" href="css/index.css">
</head>

    <nav class="navbar navbar-expand-lg justify-content-center navbar-dark" style="background-color: #000000;">
        <div class="container">
              <% if(user && user.id) { %>
                <a class="navbar-brand" href="/user/properties/avatar/<%- user.id -%>" style="text-decoration: none;color:white">
                <img  src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png" 
                  alt="Useravatar" 
                  class="d-inline-block align-top"
                  style="border-radius:70%;margin-left:1430%"/>
                
                <% } else { %>
                  <a class="navbar-brand" href="/user/properties/avatar/@cookiez.ml/login" style="text-decoration: none;color:white">
                  <img 
                    src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png"
                    alt="defAvatar" 
                    class="d-inline-block align-top"
                    style="border-radius:70%;margin-left:1430%"/>
               <%  } %>
            </a> <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/commands"></a>
                </li>
                <li class="nav-item">
                    <a href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id %>&permissions=8&scope=bot%20applications.commands" target="_blank">
                        <b></b>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/dashboard"><b></b></a>
                </li>
            </ul>
            <ul class="nav navbar-right">
                <li class="nav-item" >
                    <% if(user && user.id) { %>
                        <button class="btn btn-danger btn-sm" 
                        style="letter-spacing: 1px;font-weight: 250;width: 101%;margin-left:20%"
                        onclick="location.href='/logout'" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"><path stroke-dasharray="20" stroke-dashoffset="20" d="M3 21V20C3 17.7909 4.79086 16 7 16H11C13.2091 16 15 17.7909 15 20V21"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.4s" values="20;0"/></path><path stroke-dasharray="20" stroke-dashoffset="20" d="M9 13C7.34315 13 6 11.6569 6 10C6 8.34315 7.34315 7 9 7C10.6569 7 12 8.34315 12 10C12 11.6569 10.6569 13 9 13Z"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.5s" dur="0.4s" values="20;0"/></path><path stroke-dasharray="8" stroke-dashoffset="8" d="M15 6H21"><animate fill="freeze" attributeName="stroke-dashoffset" begin="1s" dur="0.2s" values="8;0"/></path></g></svg></button>
                    <% } else { %>
                        <button class="btn btn-success btn-sm" 
                        style="letter-spacing: 1px;font-weight: 250;width: 101%;margin-left:20%;"
                        onclick="location.href='/login'" type="button">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"><path stroke-dasharray="20" stroke-dashoffset="20" d="M3 21V20C3 17.7909 4.79086 16 7 16H11C13.2091 16 15 17.7909 15 20V21"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.4s" values="20;0"/></path><path stroke-dasharray="20" stroke-dashoffset="20" d="M9 13C7.34315 13 6 11.6569 6 10C6 8.34315 7.34315 7 9 7C10.6569 7 12 8.34315 12 10C12 11.6569 10.6569 13 9 13Z"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.5s" dur="0.4s" values="20;0"/></path><path stroke-dasharray="8" stroke-dashoffset="8" d="M15 6H21"><animate fill="freeze" attributeName="stroke-dashoffset" begin="1s" dur="0.2s" values="8;0"/></path><path stroke-dasharray="8" stroke-dashoffset="8" d="M18 3V9"><animate fill="freeze" attributeName="stroke-dashoffset" begin="1.2s" dur="0.2s" values="8;0"/></path></g></svg>
                        </button>
                    <% }%>
                </li>
            </ul>
        </div>
    </nav>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    let myParam = urlParams.get('error');
    if(myParam) alert(myParam);
    myParam = urlParams.get('success');
    if(myParam) alert(myParam);
  
</script>